<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>Servlets.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Servlets.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarColumna</servlet-name>
        <servlet-class>Servlets.ServletActualizarColumna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletColumna</servlet-name>
        <servlet-class>Servlets.ServletColumna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDelete</servlet-name>
        <servlet-class>Servlets.ServletDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> ServletDeleteColumna</servlet-name>
        <servlet-class>Servlets.ServletDeleteColumna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizar</servlet-name>
        <servlet-class>Servlets.ServletActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEsquemas</servlet-name>
        <servlet-class>Servlets.ServletEsquemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTabla</servlet-name>
        <servlet-class>Servlets.ServletTabla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletKey</servlet-name>
        <servlet-class>Servlets.ServletKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletF</servlet-name>
        <servlet-class>Servlets.ServletF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContextoNavegacion</servlet-name>
        <servlet-class>Servlets.ServletContextoNavegacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarContexto</servlet-name>
        <servlet-class>Servlets.ServletActualizarContexto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarContexto</servlet-name>
        <servlet-class>Servlets.ServletEliminarContexto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUnidadAbstractInformacion</servlet-name>
        <servlet-class>Servlets.ServletUnidadAbstractInformacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarColumna</servlet-name>
        <url-pattern>/ServletActualizarColumna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizar</servlet-name>
        <url-pattern>/ServletActualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteColumna</servlet-name>
        <url-pattern>/ServletDeleteColumna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEsquemas</servlet-name>
        <url-pattern>/ServletEsquemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTabla</servlet-name>
        <url-pattern>/ServletTabla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDelete</servlet-name>
        <url-pattern>/ServletDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletKey</servlet-name>
        <url-pattern>/ServletKey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletColumna</servlet-name>
        <url-pattern>/ServletColumna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletF</servlet-name>
        <url-pattern>/ServletF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContextoNavegacion</servlet-name>
        <url-pattern>/ServletContextoNavegacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarContexto</servlet-name>
        <url-pattern>/ServletActualizarContexto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarContexto</servlet-name>
        <url-pattern>/ServletEliminarContexto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUnidadAbstractInformacion</servlet-name>
        <url-pattern>/ServletUnidadAbstractInformacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
